@font-face {
    /*-regular-*/
    font-family: neosans;
    font-weight: 400;
    src: url(../fonts/neosansproregular-webfont.woff2) format('woff2');
    src: url(../fonts/neosansproregular-webfont.woff) format('woff');
}

@font-face {
    /*-bold-*/
    font-family: neosans;
    font-weight: 600;
    src: url(../fonts/neosanspromedium-webfont.woff2) format('woff2');
    src: url(../fonts/neosanspromedium-webfont.woff) format('woff');
}

/* ---------- reset ---------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    font-family: inherit;
    border: transparent;
    outline: transparent;
}

/* ---------- vari ---------- */
:root {
    /*text*/
    --light-txt: #ffffff;
    --dark-txt: #000000;
    /*background*/
    --light-bg1: #d9d7d6;
    --light-bg2: #f6f6f6;
    --light-bg3: #ffffff;
    --dark-bg: #0e0c0f;
    /*colors*/
    --purple: #893d9e;
    --yellow: #f0bb5e;
    /*gradients*/
    --gradient01: linear-gradient(111.3deg, var(--purple) 9.6%, var(--yellow) 93.6%);
    /*cor status*/
    --green: #42a23d;
    --red: #e80010;
    /*-border-radius-*/
    --border-radius: 5px
}

/*----------------------------------------
Body HTML
----------------------------------------*/
body {
    font-family: 'neosans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    background: var(--light-bg1) url(../img/bgpattern.png);
    background-repeat: repeat;
    background-size: 500px;
    animation: body-load 500ms ease-in;
    position: relative;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ---------- Loading animation ---------- */
@keyframes body-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---------- gradient lines ---------- */
body::before,
body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background: var(--gradient01);
}

body::before {
    top: 0;
}

body::after {
    bottom: 0;
}

/*----------------------------------------
LINKS
----------------------------------------*/
a {
    color: var(--purple);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--yellow);
}

.external::after {
    content: '\f08e';
    font-family: 'FontAwesome';
    font-size: 1rem;
    top: 0;
    right: 0;
    padding: 0 .5rem;
}

/*----------------------------------------
HEADLINES
----------------------------------------*/
h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    position: relative;
    text-transform: uppercase;
}

h2::after {
    content: '';
    height: .3rem;
    width: 6rem;
    left: 0;
    bottom: -2rem;
    margin: 0;
    background: var(--yellow);
    border-radius: 10px;
    position: absolute;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

.title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*----------------------------------------
PARAGRAPH
----------------------------------------*/
.paragraph {
    text-indent: 2rem;
}

/* ----------------------------------------
LISTS
 ---------------------------------------- */
li {
    font-weight: 400;
    line-height: 2.3rem;
}

.list li {
    /*-padding list itens-*/
    margin: 1rem 0 1rem 2rem;
}

li::marker {
    /*-icon color-*/
    color: var(--purple);
    font-weight: 600;
}

.arrowlist li::marker {
    /*-arrow icon list item-*/
    content: '\f0da';
    font-size: 1rem;
    font-family: 'FontAwesome';
    letter-spacing: 1rem;
    color: var(--purple);
}

/*----------------------------------------
BUTTON
----------------------------------------*/
.btn {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}

/* ---------- estyles ---------- */
.btn1 {
    height: 60px;
    line-height: 60px;
    width: 450px;
    background: var(--purple);
    color: var(--light-txt);
}

.btn1:hover {
    background: var(--yellow);
    color: var(--dark-txt);
}

.btn2 {
    height: 40px;
    line-height: 40px;
    width: 120px;
    background: transparent;
    background: var(--purple);
    color: var(--light-txt);
}

.btn2:hover {
    background: var(--yellow);
    color: var(--dark-txt);
}

/* ----------------------------------------
BOX SHADOW
 ---------------------------------------- */
.shadow_box {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------
 SCROLLBAR
 ---------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-bg1);
    border-radius: var(--border-radius);
}

/*----------------------------------------
CONTAINER
----------------------------------------*/
.container {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    padding: 40px 0;
}

/*----------------------------------------
HERO
----------------------------------------*/
#hero {
    background-image: url(../img/hero1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#hero .container {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-txt);
}

#hero h1 {
    letter-spacing: .5rem;
}

#hero h3 {
    letter-spacing: .2rem;
    padding: 10px 20px;
    margin: 2rem 0;
    border-radius: var(--border-radius);
    border: 2px solid var(--light-bg3);
}

/*----------------------------------------
WELCOME
----------------------------------------*/
#welcome {
    background-color: var(--dark-bg);
    min-height: 34vh;
    overflow: hidden;
    position: relative;
}

#welcome .container {
    color: var(--light-txt);
}

.next-arrow a {
    background: var(--light-bg1);
    width: 80px;
    height: 40px;
    border-radius: 125px 125px 0 0;
    padding: 2rem;
    color: var(--dark-txt);
    text-align: center;
    font-size: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

/*----------------------------------------
PRODUCTS
----------------------------------------*/
#products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.stream_products,
.illustration_products {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

/*estilo para cards da sessão-*/
#products .card {
    background-color: var(--light-bg2);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card::after {
    content: '';
    position: absolute;
    height: .5rem;
    width: 50%;
    bottom: 0;
    margin: 0;
    background: var(--yellow);
    border-radius: 10px 10px 0 0;
    left: 50%;
    transform: translateX(-50%);
}

/*- cards itens stream-*/
.stream_item .card {
    width: 100%;
    max-width: 480px;
    height: 580px;
    padding: 30px;
    gap: 2rem;
}

/*-cabeçalho do item-*/
.stream_item .item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-status-*/
.stream_item .status {
    width: 100px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--light-txt);
}

.open {
    background-color: var(--green);
}

.closed {
    background-color: var(--red);
}

/*-imagens menores-*/
.small_image {
    max-height: 112px;
    width: auto;
}

/*-preços-*/
.stream_item .price {
    display: flex;
    gap: 4rem;
}

.details {
    font-size: 1.2rem;
}

/*-linha divisão-*/
hr {
    border: 0;
    height: 1px;
    background: var(--light-bg1);
}


/* ---------- pre feitos ---------- */
.pre_made {
    background-color: var(--light-bg2);
    border-radius: var(--border-radius);
    min-width: 450px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pre_made .btn {
    max-width: 300px;
    width: 100%;
}


/* ---------- ilustrações ---------- */

.illust_item {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.illust_item_card img {
    min-height: 300px;
    height: auto;
    object-fit: cover;
}

.illust_item_price {
    padding: 3rem;
}

/* ---------- notas ---------- */
.illustration_notes {
    width: 100%;
}

/*-colunas-*/
.illustration__dos {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.illustration__do,
.illustration__dont {
    width: 100%;
}
.illustration__do i {
    color: var(--green); 
}
.illustration__dont i {
    color: var(--red);
}

/*----------------------------------------
TERMOS DE SERVIÇOS
----------------------------------------*/
#terms {
    background-color: var(--dark-bg);
}

#terms .container {
    color: var(--light-txt);
}

/*-menu-*/
.menu_accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-top: 20px;
}

.menu_accordion h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
}

/*-pergunta-*/
.question {
    color: var(--dark-txt);
    background: var(--light-bg1);
    position: relative;
    padding: 0 20px 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.question input {
    display: none;
}

.question label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: .1rem;
    padding: 20px 0 10px;
    margin: 0;
    cursor: pointer;
}

.question label::after {
    content: "\002B";
    position: absolute;
    right: 20px;
    font-size: 3rem;
    color: var(--purple);
    transition: .5s;
}

.question:hover label::after {
    color: var(--yellow);
}

.question input:checked~label::after {
    transform: rotate(135deg);
    color: var(--yellow);
}

/*-resposta-*/
.question h5 {
    margin-top: 15px;
}

.question .answer {
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.question input:checked~.answer {
    max-height: 100vh;
}


/*----------------------------------------
CONTACTO
----------------------------------------*/

.contact_columns {
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
}

/* ---------- formulário ---------- */
form {
    margin: 0 auto;
}

.form_group {
    width: 450px;
    position: relative;
    margin-bottom: 15px;
}

.form_label {
    position: absolute;
    left: 20px;
    top: 12px;
    font-size: 1rem;
    line-height: 2rem;
    transition: .2s;
    cursor: text;
    text-transform: uppercase;
    opacity: .4;
}

/* ---------- label animatição ---------- */
.input_form:focus~.form_label,
.input_form:valid~.form_label,
.input_form:not(:placeholder-shown)~.form_label {
    top: -10px;
    left: 15px;
    font-size: .9rem;
    color: var(--light-txt);
    background-color: var(--purple);
    padding: 0px 8px;
    border-radius: var(--border-radius);
    opacity: 1;
}

.input_form {
    width: 100%;
    height: 45px;
    padding: 15px 15px;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--light-bg3);
    border-radius: var(--border-radius);
    outline: transparent;
    border: 0;
}

.form_group textarea {
    min-height: 80px !important;
    resize: none;
    overflow: auto;
}

form .bnt1 {
    margin-top: 2rem;
    height: 40px;
}


/*----------------------------------------
SOBRE
----------------------------------------*/
#about {
    background: var(--light-bg2);
}

.about_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 2rem auto 0;
    align-items: center;
    justify-content: space-between;
}

.card_member {
    background-color: var(--light-bg3);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
    gap: 2rem;
}

/*avatar*/
.card_member img {
    height: 120px;
    width: 120px;
    border-radius: var(--border-radius);
}

.card_member h4 {
    font-size: 1.3rem;
    position: relative;
    margin-bottom: 2rem;
}

#junicard.card_member h4::after {
    content: '';
    height: .2rem;
    width: 4rem;
    left: 0;
    bottom: -1rem;
    margin: 0;
    background: var(--yellow);
    position: absolute;
}

.card_member p {
    text-indent: 0;
}

.card_member h4::after {
    content: '';
    height: .2rem;
    width: 4rem;
    left: 0;
    bottom: -1rem;
    margin: 0;
    position: absolute;
}

/* ---------- links ---------- */
.social_card {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    list-style-type: none;
    margin-top: 1rem;
}

.social_card .social_item {
    display: block;
    height: 30px;
    width: 30px;
    color: var(--dark-txt);
    background-color: var(--light-bg1);
    border-radius: var(--border-radius);
    text-align: center;
    line-height: 30px;
    transition: .4s;
}

.social_card .social_item2 {
    display: block;
    height: 30px;
    min-width: 80px;
    padding: 0 8px;
    color: var(--dark-txt);
    background-color: var(--light-bg1);
    border-radius: var(--border-radius);
    text-align: center;
    line-height: 30px;
    transition: .4s;
}

#junicard .social_card .social_item:hover,
#junicard .social_card .social_item2:hover,
#junicard.card_member h4::after {
    background-color: var(--yellow);
}


#lumacard .social_card .social_item:hover,
#lumacard .social_card .social_item2:hover,
#lumacard.card_member h4::after {
    background-color: var(--purple);
}

/*----------------------------------------
RODAPÉ
----------------------------------------*/
#footer {
    background: var(--dark-bg);
    position: relative;
    color: var(--light-txt);
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 8vh;
    text-transform: uppercase;
    font-size: .9rem;
}


/* ----------------------------------------
PÁGINA DE AGRADECIMENTO
 ---------------------------------------- */
.thanks_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks_msg {
    width: 100%;
    min-height: 50vh;
    padding: 4rem;
    background: var(--light-bg2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/*-gradient-*/
.thanks_msg::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 6px;
    background: var(--gradient01);
}

.thanks_msg i {
    font-size: 4rem;
    color: var(--yellow);
}

/*- responsivo -*/

@media (max-width:1050px) {
    #welcome .container,
    .stream_products,
    .illustration_products,
    .pre_made,
    .illustration_notes,
    .illustration__dos,
    #terms .container,
    .contact_columns,
    #about .container,
    #footer .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;
        margin: 0 auto;
    }

}