@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

/* ==================== RESET ==================== */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    font-family: inherit;
    border: transparent;
    outline: transparent;
}

/* ==================== VARI ==================== */
:root {
    /*text*/
    --light-txt: #ffffff;
    --dark-txt: #161616;

    /*background*/
    --light-bg1: #e6e6e6;
    --light-bg2: #f6f6f6;
    --light-bg3: #ffffff;

    /*colors*/
    --purple: #8C429C;
    --yellow: #E8B163;

    /*cor status*/
    --green: #6cca67;
    --red: #f04c4c;

    /*gradients*/
    --gradient01: linear-gradient(45deg, var(--purple), var(--yellow));
    --p-gradient: linear-gradient(45deg, var(--purple), var(--bshadow-p));
    /*font-weight*/
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

    /*border-radius*/
    --border-radius: 5px;

    /*box shadow*/
    --bshadow-p: 0 4px 0px #52265c;
    --bshadow-y: 0 2px 0px #b99461;
}

/* ==================== Body HTML ==================== */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: var(--fw-400);
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    background: var(--light-bg2);
    animation: body-load 500ms ease-in;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ---------- Loading animation ---------- */
@keyframes body-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ==================== LINKS ==================== */
a {
    color: var(--purple);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--yellow);
}

.l_under {
    border-bottom: 1px solid var(--yellow);
}

/* ==================== BUTTON ==================== */
.btn {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    font-weight: var(--fw-700);
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    background: var(--purple);
    color: var(--light-txt);
    box-shadow: var(--bshadow-p);
}

.btn:hover {
    background: var(--yellow);
    color: var(--dark-txt);
    box-shadow: var(--bshadow-y);
    transform: translateY(2px);
}

/* ---------- styles ---------- */

/*- 01 fixed width -*/
.btn1 {
    height: 60px;
    line-height: 60px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

/*- 02 -*/
.btn2 {
    height: 40px;
    line-height: 40px;
    width: 120px;
    background: transparent;
    background: var(--purple);
    color: var(--light-txt);
}


/* ==================== LISTS ==================== */

li {
    list-style-position: inside;
}

.list li {
    margin-top: 1rem;
}

li::marker {
    /*-icon color-*/
    font-weight: var(--fw-700);
    color: var(--yellow);
}

.arrowlist li::marker {
    /*-arrow icon list item-*/
    content: '\f105';
    font-size: 1.2rem;
    font-family: 'FontAwesome';
    letter-spacing: 1rem;
    color: var(--yellow);
}

.subtopic {
    margin-left: 20px;
}

/* ==================== HEADLINES ==================== */
h1 {
    font-size: 8rem;
    line-height: 8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
    font-weight: var(--fw-800);
}

/*- font weight -*/
h1,
h2,
h3 {
    font-weight: var(--fw-700);
}

/* ==================== TITLES ==================== */

/*-yellow line below-*/
.item-title {
    font-size: 2.5rem;
    font-weight: var(--fw-700);
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.item-title::after {
    content: '';
    height: .3rem;
    width: 6rem;
    left: 0;
    bottom: -1.5rem;
    margin: 0;
    background: var(--yellow);
    border-radius: 10px;
    position: absolute;
}

/* ---------- star left + line right ---------- */
.item-title--starline {
    text-transform: uppercase;
    position: relative;
    padding-left: 30px;
    overflow: hidden;
}

/*-star-*/
.item-title--starline::before {
    content: "\2726";
    position: absolute;
    left: 0;
    color: var(--yellow);
}

/*-line-*/
.item-title--starline::after {
    content: '';
    height: 1px;
    width: 100%;
    margin: 12px 20px 0;
    background: var(--light-bg1);
    border-radius: 10px;
    position: absolute;
}

/*-txt in the middle- inner pages*/

.section__title--center {
    font-size: 2.5rem;
    font-weight: var(--fw-700);
    margin-bottom: 60px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.section__title--center::after {
    content: '';
    height: .3rem;
    width: 6rem;
    bottom: -1.5rem;
    margin: 0;
    background: var(--yellow);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* ==================== PARAGRAPH ==================== */
.paragraph {
    text-indent: 2rem;
}

/* ==================== SCROLLBAR ==================== */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-bg1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: var(--border-radius);
}

/* ==================== CONTAINER ==================== */
.container {
    margin: 0 auto !important;
    max-width: 1160px !important;
    width: 100%;
    padding: 40px 20px;
}

/*---------- min height for inner pages ----------*/
.inner_pages {
    min-height: calc(100vh - 126px);
}

/*---------- flex blocks ----------*/
.fw--20 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fw--40 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.fc--20 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fc--40 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.space__between {
    justify-content: space-between;
    align-items: center;
}

/* ==================== HEADER ====================*/

/*- INDEX - header & hero -*/
.header--index {
    background-image: url(../img/bannerhero.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*-links-*/
.header--index .header__nav-links a {
    color: var(--light-txt);
}



/*- ALL PAGES - navigation-*/

#header .container {
    padding: 40px 20px 20px;
}

/*- menu -nav -*/
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/*- logo -*/
.header__nav-logo img {
    height: 40px;
    width: 40px;
}
/*-links -nav-*/
.header__nav-links {
    display: flex;
    gap: 80px;
    align-items: center;
    list-style-type: none;
}

.header__nav-links a {
    font-weight: var(--fw-700);
    font-size: 1.2rem;
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px 0;
    transition: .4s;
    position: relative;
}

/*-hover-*/
.header__nav-links a:hover {
    color: var(--yellow);
}

/*-active page-*/
.header__nav-links--active::before {
    content: "\2726";
    top: -5px;
    font-size: 1.5rem;
    left: 50%;
    color: var(--yellow);
    transform: translate(-50%);
    position: absolute;
}

.header__hero {
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    color: var(--light-txt);
}

/* ==================== PRODUCTS | index page ====================*/
.product__item {
    color: var(--light-txt);
    background:var(--purple);
    width: 250px;
    height: 100px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    transition: .2s;
}

.product__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 120px;
    width: 120px;
}

.product__item:hover {
    transform: scale(1.1);
    background-color: var(--yellow);

}

/*==================== COMMISSIONS ====================*/

#comm-itens .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stream_graphics .card_info {
    max-width: 500px;
    width: 100%;
}

/*-status-*/

.comm-item__status {
    background-color: var(--light-bg3);
    border: 1px solid var(--light-bg1);
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.status {
    width: 100px;
    font-weight: var(--fw-700);
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    border-radius: 20px;
    color: var(--light-txt);
}

.open {
    background-color: var(--green);
}

.closed {
    background-color: var(--red);
}

/*-images -*/

.comm__image-illust img {
    border-radius: var(--border-radius);
}

.comm__image-graphic img {
    max-width: 500px;
    width: 100%;
}

/*- price and info-*/
.comm__info--detail {
    font-size: 1.2rem;
}

.comm__info--price-illust span {
    font-weight: var(--fw-700);
}

.comm__info--price-illust {
    position: relative;
    margin-top: 10px;
}

.comm__info--price-illust :not(:last-child)::after {
    content: "\2223";
    margin: 0 10px;
    color: var(--yellow);
    position: absolute;
}

/*----------------------------------------
NOTES
----------------------------------------*/
.comm__notes--do,
.comm__notes--dont {
    max-width: 500px;
    width: 100%;
}

.comm__notes--do i {
    color: var(--green);
    font-size: 1.5rem;
}

.comm__notes--dont i {
    color: var(--red);
    font-size: 1.5rem;
}


/* ==================== TOS ==================== */

/*-menu-*/
.terms-items {
    width: 100%;
    margin-top: 20px;
}

/*-question-*/
.term-item__question {
    color: var(--dark-txt);
    background: var(--light-bg3);
    position: relative;
    padding: 0 20px 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.term-item__question input {
    display: none;
}

.term-item__question label {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: 20px 0 10px;
    margin: 0;
    cursor: pointer;
}

.term-item__question label::after {
    content: "\2726";
    position: absolute;
    right: 20px;
    font-size: 2.5rem;
    color: var(--yellow);
    transition: .5s;
}

.term-item__question:hover label::after {
    color: var(--purple);
}

.term-item__question input:checked~label::after {
    transform: rotate(135deg);
    color: var(--purple);
}

/*-answer-*/
.term-item__question h5 {
    margin-top: 15px;
}

.term-item__question .term-item__answer {
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.term-item__question input:checked~.term-item__answer {
    max-height: 100vh;
}


/* ==================== CONTACT ==================== */

.contact-form {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

/* ---------- form ---------- */
form {
    width: 100%;
}

.contact-form__group {
    position: relative;
    margin-bottom: 20px;
}

/* ---------- label ---------- */
.contact-form__label {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: var(--fw-800);
    color: var(--yellow);
    line-height: 2rem;
    left: 25px;
    top: 12px;
    position: absolute;
    transition: .2s;
    cursor: text;
}

/* ---------- label animation ---------- */
.contact-form__input:focus~.contact-form__label,
.contact-form__input:valid~.contact-form__label,
.contact-form__input:not(:placeholder-shown)~.contact-form__label {
    top: -10px;
    left: 15px;
    color: var(--yellow);
    background-color: var(--light-bg2);
    padding: 0px 10px;
    opacity: 1;
}

/* ---------- input ---------- */
.contact-form__input {
    width: 100% !important;
    height: 45px;
    padding: 15px 15px;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--light-bg2);
    border-radius: var(--border-radius);
    border: 2px solid var(--light-bg1);
}

/* ---------- textarea ---------- */
.contact-form__group textarea {
    min-height: 80px !important;
    resize: none;
    overflow: auto;
}

/* ==================== ABOUT ==================== */
.about {
    justify-content: space-evenly;
}

.about__member {
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
}

/* ---------- card ---------- */
.about__member-card {
    border-radius: var(--border-radius);
}

/* ---------- avatar ---------- */
.about__member-avatar {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 20px auto 0;
    border: 8px solid var(--light-bg3);
}

/* ---------- info ---------- */
.about__member-name {
    text-transform: uppercase;
}

.about__member-detail {
    font-size: 1.2rem;
}

.about__member-info {
    padding: 20px;
    text-align: center !important;
}

/* ---------- links ---------- */
.about__member-links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 20px auto;
}

.about__member-links a {
    padding: 2px 7px;
    border-radius: var(--border-radius);
    color: var(--light-txt);
    display: block;
}

.about__member-links a:hover {
    opacity: .6;
}

/* ---------- juni style ---------- */
#juniabout {
    background: var(--light-bg3) url(../img/juniprofilebg.png) center top no-repeat;
}

#juniabout .about__member-links a {
    background-color: var(--yellow);
}

/* ---------- luma style ---------- */
#lumaabout {
    background: var(--light-bg3) url(../img/lumaprofilebg.png) center top no-repeat;
}

#lumaabout .about__member-links a {
    background-color: var(--purple);
}

/* ==================== FOOTER ==================== */
#footer {
    background: var(--light-bg1);
    color: var(--dark-txt);
    font-weight: var(--fw-800);
    position: relative;
}

#footer .container {
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    height: 40px;
}

/* ---------- links ---------- */
#footer a {
    color: var(--dark-txt);
}

#footer a:hover {
    color: var(--purple);
}

/* ---------- back to top icon ---------- */
.to_top i {
    font-size: 2rem;
    color: var(--yellow);
}

/* ---------- gradient ---------- */
#footer::after {
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0px;
    position: absolute;
    background-image: var(--gradient01);
}

/* ==================== THANKS PAGE ==================== */

.thanks_page {
    height: 100vh;
    position: relative;
    background-image: url(../img/bg_hero_20.jpg);
    background-position: top center;
    background-repeat: repeat;
}

#thanks__page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-bg3);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: center;
}

#thanks__page .container i {
    font-size: 4rem;
    padding: 30px;
    border-radius: 50%;
    color: var(--light-bg1);
    background-image: var(--gradient01);
}

/* ==================== MOBILE  ==================== */

@media screen and (max-width: 1180px) {

    .inner_pages {
        min-height: calc(100vh - 100px);
    }

    .container {
        max-width: 520px !important;
        margin: 0 auto;
    }

    /*-navbar-*/
    nav {
        height: 120px;
        flex-direction: column;
        gap: 0px;
        padding: 20px 0;
    }

    .nav_links {
        gap: 40px;
    }

    .active::before {
        bottom: -16px;
    }

    /*-illustrations item prices-*/
    .item_valor {
        flex-direction: column;
        gap: 0px;
    }

    .item_valor :not(:last-child)::after {
        display: none;
    }
}