@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');
/*font-family: 'Nunito', sans-serif;*/

@font-face {
    /*-regular-*/
    font-family: neosans;
    font-weight: 400;
    src: url(../fonts/neosansproregular-webfont.woff2) format('woff2');
    src: url(../fonts/neosansproregular-webfont.woff) format('woff');
}

@font-face {
    /*-bold-*/
    font-family: neosans;
    font-weight: 600;
    src: url(../fonts/neosanspromedium-webfont.woff2) format('woff2');
    src: url(../fonts/neosanspromedium-webfont.woff) format('woff');
}

/* ---------- reset ---------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    font-family: inherit;
    border: transparent;
    outline: transparent;
}

/* ---------- vari ---------- */
:root {
    /*text*/
    --light-txt: #ffffff;
    --dark-txt: #000000;
    /*background*/
    --light-bg1: #e6e6e6;
    --light-bg2: #f6f6f6;
    --light-bg3: #ffffff;
    --dark-bg: #d4d4d4;
    /*colors*/
    --purple: #9b39b9;
    --yellow: #f5cd4b;
    /*gradients*/
    --gradient01: linear-gradient(111.3deg, var(--purple) 9.6%, var(--yellow) 93.6%);
    /*cor status*/
    --green: #6cca67;
    --red: #f04c4c;
    /*border-radius*/
    --border-radius: 5px;
    /*box shadow*/
    --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*----------------------------------------
Body HTML
----------------------------------------*/
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    background: var(--light-bg1);
    animation: body-load 500ms ease-in;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ---------- Loading animation ---------- */
@keyframes body-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*----------------------------------------
LINKS
----------------------------------------*/
a {
    color: var(--purple);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--yellow);
}

.external::after {
    content: '\f08e';
    font-family: 'FontAwesome';
    font-size: 1rem;
    top: 0;
    right: 0;
    padding: 0 .5rem;
}

/*----------------------------------------
HEADLINES
----------------------------------------*/
h1 {
    font-size: 6.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
}

/*----------------------------------------
PARAGRAPH
----------------------------------------*/
.paragraph {
    text-indent: 2rem;
}

/* ----------------------------------------
LISTS
 ---------------------------------------- */

li {
    list-style-position: inside;
}

.list li {
    margin-top: 1rem;
}

li::marker {
    /*-icon color-*/
    font-weight: 600;
    color: var(--purple);
}

.arrowlist li::marker {
    /*-arrow icon list item-*/
    content: '\f0da';
    font-size: 1rem;
    font-family: 'FontAwesome';
    letter-spacing: 1rem;
    color: var(--purple);

}

.subtopic {
    margin-left: 20px;
}


/*----------------------------------------
BUTTON
----------------------------------------*/
.btn {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

/* ---------- styles ---------- */
.btn1 {
    height: 60px;
    line-height: 60px;
    width: 100%;
    max-width: 450px;
    background: var(--purple);
    color: var(--light-txt);
    margin: 0 auto;
    text-align: center;
}

.btn1:hover {
    background: var(--yellow);
    color: var(--dark-txt);
}

.btn2 {
    height: 40px;
    line-height: 40px;
    width: 120px;
    background: transparent;
    background: var(--purple);
    color: var(--light-txt);
}

.btn2:hover {
    background: var(--yellow);
    color: var(--dark-txt);
}


/* ----------------------------------------
 SCROLLBAR
 ---------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-bg1);
    border-radius: var(--border-radius);
}

/*----------------------------------------
MAIN
----------------------------------------*/
.inner_pages {
    min-height: calc(100vh - 130px);
}

/*----------------------------------------
CONTAINER
----------------------------------------*/
.container {
    margin: 0 auto;
    width: 1080px !important;
    max-width: 100% !important;
    padding: 40px 20px;
}

/*----------------------------------------
HERO
----------------------------------------*/
#hero {
    background-image: url(../img/bg_hero_20.jpg);
    background-position: top center;
    background-repeat: repeat-y;
    overflow: hidden;
    color: var(--light-txt);
}

#hero .container {
    padding: 0 20px;
}

#hero .index {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


/*- navigation-*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90px;
}

/*-logotipo-*/
.logo a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--light-txt);
}

.logo img {
    width: 40px;
    height: auto;
    transition: .4s;
}

.logo:hover img {
    transform: rotate(-20deg);
}

/*-links de navegação-*/
.nav_links {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}

.nav_links a {
    font-weight: 700;
    padding: 20px 0;
    color: var(--light-txt);
    transition: .4s;
    position: relative;
}

.nav_links a:hover {
    color: var(--yellow);
}

.active::before {
    content: "\f0d8";
    font-family: 'FontAwesome';
    bottom: -25px;
    font-size: 5rem;
    left: 50%;
    color: var(--light-bg1);
    transform: translate(-50%);
    position: absolute;

}

/*- colunas -*/
.hero_columns {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*- textos -*/
.hero_title {
    line-height: 5rem;
    letter-spacing: .1rem;
}

.hero_subtitle {
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 4rem;

}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hero p {
    text-align: justify;
    margin-top: 20px;
    max-width: 400px;
}

/*-imagem-*/
.heroimg {
    max-width: 600px;
    width: 100%;
    height: auto;
}


/*----------------------------------------
TITLES
----------------------------------------*/
.section_title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;
    text-transform: uppercase;
}

.section_title::after {
    content: '';
    height: .3rem;
    width: 6rem;
    left: 0;
    bottom: -1.5rem;
    margin: 0;
    background: var(--yellow);
    border-radius: 10px;
    position: absolute;
}


/*----------------------------------------
FEATURES
----------------------------------------*/
.feature_columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.feature__column {
    display: block;
    max-width: 320px;
    width: 100%;
    text-align: center;
}

.feat_img {
    max-width: 320px;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-color: var(--light-bg3); 
}
.feat_img img {
    width: 100%;
    height: auto;
}

/*-hover-*/
.feature__column .card {
    transition: .4s all;
}
.feature__column:hover .card{
    transform: translateY(-4px);
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2);

}
/*----------------------------------------
ITENS
----------------------------------------*/

#commission_itens1 .container,
#commission_itens2 .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#commission_itens1 .section_title,
#commission_itens2 .section_title {
    margin-bottom: 0;
}


.illustrations,
.stream_graphics {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.card {
    overflow: hidden;
    border-radius: var(--border-radius);
    background: var(--light-bg2);
    box-shadow: var(--box-shadow);
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


/*-header-*/
.card_header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.illustrations .card_header {
    flex-direction: column;
    gap: 5px;
}

.title {
    text-transform: uppercase;
}

/*-status-*/
.stream_graphics .status {
    width: 100px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    border-radius: 20px;
    color: var(--light-txt);
}

.open {
    background-color: var(--green);
}

.closed {
    background-color: var(--red);
}

/*-images-*/

.stream_graphics img {
    max-width: 460px;
}

/*-price info-*/
.stream_graphics .price {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item_detail {
    font-size: 1.2rem;
}

/*-divider line-*/
.divider {
    border: 0;
    border-top: 1px solid var(--light-bg1);
}

/*----------------------------------------
LUUSTRATIONS SLIDES
----------------------------------------*/
.slide_illustration {
    max-width: 320px;
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 30px;
}

.slide_illustration input {
    display: none;
}

.slides_navigation {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
}

.slides_navigation .nav_button {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    cursor: pointer;
    transition: .4s;
}

.nav_button:hover {
    background-color: var(--yellow);
}

.slides1,
.slides2,
.slides3 {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide_img {
    width: 34%;
    transition: .4s;
}

.slide_img img {
    width: 100%;
    height: 100%;
}

#b1:checked~.first_slide1,
#h1:checked~.first_slide2,
#f1:checked~.first_slide3 {
    margin-left: 0;
}

#b2:checked~.first_slide1,
#h2:checked~.first_slide2,
#f2:checked~.first_slide3 {
    margin-left: -34%;
}

#b3:checked~.first_slide1,
#h3:checked~.first_slide2,
#f3:checked~.first_slide3 {
    margin-left: -68%;
}



/*----------------------------------------
NOTES
----------------------------------------*/
.illustration_notes,
.graphics_notes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--light-bg1);
}

.illustration__dos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.illustration__do,
.illustration__dont {
    max-width: 500px;
    width: 100%;
}

.illustration__do i {
    color: var(--green);
    font-size: 1.5rem;
}

.illustration__dont i {
    color: var(--red);
    font-size: 1.5rem;
}

/*----------------------------------------
TOS
----------------------------------------*/

/*-menu-*/
.menu_accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-top: 20px;
}

.menu_accordion h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
}

/*-question-*/
.question {
    color: var(--dark-txt);
    background: var(--light-bg3);
    position: relative;
    padding: 0 20px 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.question input {
    display: none;
}

.question label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: .1rem;
    padding: 20px 0 10px;
    margin: 0;
    cursor: pointer;
}

.question label::after {
    content: "\002B";
    position: absolute;
    right: 20px;
    font-size: 3rem;
    color: var(--purple);
    transition: .5s;
}

.question:hover label::after {
    color: var(--yellow);
}

.question input:checked~label::after {
    transform: rotate(135deg);
    color: var(--yellow);
}

/*-answer-*/
.question h5 {
    margin-top: 15px;
}

.question .answer {
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.question input:checked~.answer {
    max-height: 100vh;
}


/*----------------------------------------
CONTACT
----------------------------------------*/

.contact_columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

/* ---------- form ---------- */
form {
    width: 100%;
}

.contact__column {
    max-width: 500px;
    width: 100%;
}

.form_group {

    position: relative;
    margin-bottom: 20px;
}

.form_label {
    position: absolute;
    left: 20px;
    top: 12px;
    font-size: 1rem;
    line-height: 2rem;
    transition: .2s;
    cursor: text;
    text-transform: uppercase;
    opacity: .4;
}

/* ---------- label animation ---------- */
.input_form:focus~.form_label,
.input_form:valid~.form_label,
.input_form:not(:placeholder-shown)~.form_label {
    top: -10px;
    left: 15px;
    font-size: .9rem;
    color: var(--light-txt);
    background-color: var(--purple);
    padding: 0px 8px;
    border-radius: var(--border-radius);
    opacity: 1;
}

.input_form {
    width: 100% !important;
    height: 45px;
    padding: 15px 15px;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--light-bg3);
    border-radius: var(--border-radius);
    outline: transparent;
    border: 0;
}

.form_group textarea {
    min-height: 80px !important;
    resize: none;
    overflow: auto;
}

form .bnt1 {
    margin-top: 2rem;
    height: 40px;
}


/*----------------------------------------
ABOUT
----------------------------------------*/
.about_columns {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about__column .card {
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
}

#junicard {
    background: var(--light-bg2) url(../img/juniprofilebg.png) center top no-repeat;
}

#lumacard {
    background: var(--light-bg2) url(../img/lumaprofilebg.png) center top no-repeat;

}

.about_avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto 0;
    border: 8px solid var(--light-bg2);
}

.about__column .card_info {
    text-align: center;
}

.about_links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0 auto;
}

.about_links a {
    padding: 2px 7px;
    border-radius: var(--border-radius);
    color: var(--light-txt);
    display: block;
}

.about_links a:hover {
    opacity: .6;
}

#junicard .about_links a {
    background-color: var(--yellow);
}

#lumacard .about_links a {
    background-color: var(--purple);
}

/*----------------------------------------
RODAPÉ
----------------------------------------*/
#footer {
    background: var(--dark-bg);
    color: var(--dark-txt);
    font-weight: 700;
    position: relative;
}

#footer a {
    color: var(--dark-txt);
}

#footer a:hover {
    color: var(--purple);
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    height: 40px;

}

#footer::after {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0px;
    position: absolute;
    background-image: var(--gradient01);

}

/* ----------------------------------------
PÁGINA DE AGRADECIMENTO
 ---------------------------------------- */
.thanks_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks_msg {
    width: 100%;
    min-height: 50vh;
    padding: 4rem;
    background: var(--light-bg2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/*-gradient-*/
.thanks_msg::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 6px;
    background: var(--gradient01);
}

.thanks_msg i {
    font-size: 4rem;
    color: var(--yellow);
}